<div class="modal">
    <ion-header-bar>
        <h1 class="title">Om Hafslundappen</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeHomeModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <h1>Lorem ipsum solem tjo og hei</h1>
        <p>
            Praesent vestibulum dapibus nibh.

            Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi.

            Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus.
        </p>
        <p>
            Praesent vestibulum dapibus nibh.

            Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi.

            Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus.
        </p>
    </ion-content>
</div>

