<ion-side-menus>

  <ion-side-menu-content edge-drag-threshold="50">
    <ion-nav-bar class="bar-stable nav-title-slide-android bar-positive">
      <ion-nav-back-button class="button-clear"><i class="icon ion-android-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
      <!-- animation="slide-left-right"-->
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable bar-positive">
        <img src="../img/logo-hafslund-white.png" class="hafslund-img" alt=""/>
      <!--<h1 class="title">Hafslund</h1>-->
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/home">
            <i class="icon ion-home"></i> Hjem
        </ion-item>
          <ion-item nav-clear menu-close href="#/app/challenges">
              <i class="icon ion-flag"></i> Mine utfordringer
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/tips">
              <i class="icon ion-pie-graph"></i> Råd
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/usage">
              <i class="icon ion-stats-bars"></i> Bruk
          </ion-item>
          <ion-item nav-clear>
              <i class="icon ion-person"></i> Profil
          </ion-item>
          <ion-item nav-clear>
              <i class="icon ion-chatbubble"></i> Kontakt oss!
          </ion-item>
          <!--<ion-item nav-clear menu-close href="#/app/green">
              <i class="icon ion-battery-charging"></i> Grønn
          </ion-item>-->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
