<ion-view title="Du klarte det!">
    <ion-nav-buttons side="left">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Tilbake
        </ion-nav-back-button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div>
            <div id="yes-container">
            </div>
        </div>

        <div class="challenge-content">
            <h4>Det har redusert ditt forbruk med 10% fra i fjor!</h4>
            <h5>Fortell dine venner om tiltakene du har gjort!</h5>
        </div>

        <div class="row">
            <div class="card horsecard">
                <div class="item item-text-wrap horseinner">
                    <i class="ion-icon ion-social-facebook"></i>
                    <i class="ion-icon ion-social-googleplus"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
